:root {
  --main-color: gray;
  --secondary-color: rgb(116, 116, 196);
  background-color: rgb(225, 232, 235);
  --font-family: "Arial", sans-serif;
  --font-size: 16px;
}
body,
html {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0;
  padding: 0 10px;
}

/*element selector*/
p {
  color: var(--secondary-color);
  font-size: 20px;
}

/*ID selector*/
#footer {
  color: gray;
  font-style: italic;
}

/*Class selector*/
.title {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
  margin: 0 20px;
}
h1 {
  font-size: 40px;
  text-align: center;
  text-decoration: underline;
}
h2 {
  color: var(--main-color);
  font-size: 20px;
  text-align: center;
  text-decoration: underline;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.grid-cell {
  height: 200px;
  border-radius: 20px;
  padding-left: 20px;
  padding-top: 20px;
  border: 1px solid;
  border-color: var(--main-color);
}
.flexbox {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.flex-item {
  height: 200px;
  width: 270px;
  border-radius: 20px;
  padding-left: 20px;
  padding-top: 20px;
  border: 1px solid;
  border-color: var(--main-color);
}
@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .flexbox {
    flex-direction: row;
    justify-content: space-between;
  }
}
.animation {
  animation-name: slide-in;
  animation-duration: 3s;
}
@keyframes slide-in {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-right: 0%;
    width: 100%;
  }
}
